<app-header [filterInput]="filterInput"></app-header>
<app-note-editor
  [addNote]="addNote"
  [addTag]="addTag"
  [chooseTag]="chooseTag"
  [deleteTag]="deleteTag"
  [deleteTagFromPool]="deleteTagFromPool"
  [noteInput]="noteInput"
  [tagInput]="tagInput"
  [symbolsLeft]="symbolsLeft"
  [editMode]="editMode"
  [tags]="tags"
  [tagsPool]="tagsPool"
  [saveNote]="saveNote"
></app-note-editor>
<app-note-list
  [notes]="filterInput.valid ? sortedNotes : notes"
  [editNote]="editNote"
  [deleteNote]="deleteNote"
></app-note-list>
