<main>
  <div class="main-container">
    <div class="input-wrapper">
      <div>Input</div>
      <div class="textarea-container">
        <div class="highlights-container">
          <div id="highlights" class="highlighter"></div>
        </div>
        <textarea class="noteInput" [formControl]="noteInput" placeholder="Type something great here..."></textarea>
      </div>
      <div *ngIf="symbolsLeft == 1000">Type your awesome note</div>
      <div *ngIf="symbolsLeft < 1000 && symbolsLeft > 0">
        Way to go, {{ symbolsLeft }} symbol<span *ngIf="symbolsLeft > 1">s</span>left
      </div>
      <div *ngIf="symbolsLeft <= 0">You have no more symbols left :(</div>
      <div>And some tags:</div>
      <div class="outlined">
        <div>Chosen tags (click to delete):</div>
        <div class="tag" *ngFor="let tag of tags" (click)="deleteTag(tag)">{{ tag }}</div>
        <div id="errorOutput"></div>
        <select id="tagSelector" style="width: 100px;">
          <option *ngFor="let tag of tagsPool" [value]="tag">{{ tag }}</option>
        </select>
        <input [formControl]="tagInput" placeholder="New tag..." />
        <button (click)="addTag()">Add New Tag</button>
        <button (click)="chooseTag()">Choose Tag</button>
        <button *ngIf="editMode === false" (click)="addNote()">Create new note</button>
        <button *ngIf="editMode === true" (click)="saveNote()">Save note</button>
      </div>
    </div>
    <div class="output-wrapper">
      <div>Output</div>
      <label for="filter">Filter notes
        <input id="filter" [formControl]="filterInput" placeholder="filter by tag" />
      </label>
      <div *ngIf="filterInput.status === 'INVALID'">
        <div *ngFor="let note of notes" class="note">
          <div class="note-text">Note : {{ note.text }}</div>
          <div>Tags :</div>
          <div class="tag" *ngFor="let tag of note.tags">{{ tag }}</div>
          <button (click)="deleteNote(note)">Delete Note</button>
          <button (click)="editNote(note)">Edit Note</button>
        </div>
      </div>
      <div *ngIf="filterInput.status === 'VALID'">
        <div *ngFor="let note of sortedNotes" class="note">
          <div class="note-text">Note : {{ note.text }}</div>
          <div>Tags :</div>
          <div class="tag" *ngFor="let tag of note.tags">{{ tag }}</div>
          <button (click)="deleteNote(note)">Delete Note</button>
        </div>
      </div>
    </div>
  </div>
</main>
