.main-container {
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 900px){
  .main-container {
    width: 100%;
  }
}

@bgrey: 1px solid rgb(201, 201, 201);

.outlined {
  border-top: @bgrey;
  border-bottom: @bgrey;
  border-left: none;
  border-right: none;
}

.out {
  .outlined();
  border-top: none;
}

.tag {
  display: inline-block;
  padding: 0.2rem 0.2rem;
  background-color: rgb(219, 219, 219);
  border: 1px solid gray;
  border-radius: 0.4rem;
  margin-right: 0.8rem;
  font-size: 0.7rem;
}

.note {
  width: 90%;
  height: auto;
}

.note-text {
  overflow-wrap: break-word;
}

.highlights-container,
textarea,
.textarea-container {
  width: 100%;
  min-height: 150px;
}

.input-group {
  width: auto;
}

.textarea-container {
  display: grid;
  grid-template-areas: 'innerContent';
}

.sync {
  grid-area: innerContent;
  overflow-y: scroll;
  margin: 0;
  .outlined();
  border-bottom: none;
}

textarea {
  display: block;
  z-index: 2;
  color: rgb(58, 58, 58);
  background-color: transparent;
  resize: none;
  .sync();

}

.highlights-container {
  z-index: 1;
  background-color: rgb(255, 255, 255);
  pointer-events: none;
  .sync();
}

.highlighter {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: transparent;
}

textarea,
.highlighter {
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 1px;
}

.marked {
  border-radius: 3px;
  color: transparent;
  background-color: #9febeb;
}

* {
  box-sizing: border-box;
}

.fa-trash:hover {
  color: rgb(211, 65, 65);
}

.fa-edit:hover {
  color: rgb(255, 193, 7);
}
